<form method="get" action="
						<% if(propios){ %>
							/user/<%=session.user.id%>/quizes
						<% } else { %>
							/quizes
						<% } %>
						">
	<input type="text" name="search" value="Buscar preguntas" />
	<input type="submit" value="Search">
</form>

<%
	if (busqueda){
%>
	<h3>Preguntas con "<%= busqueda %>"</h3>
<%
	}
%>

<table>
<% 
	var i;
	for (i=0; i<quizes.length; i++){
%>
		<tr>
			<td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>

			<% if(session.user){ 
					if(quizes[i].isFavourite) {%>
						<td>
							<form method="post" action="/user/<%=session.user.id%>/favourites/<%=quizes[i].id%>?_method=delete">
								<% if(propios) {%>
									<input type="hidden" name="origin" value="own" />
								<% } else { %>
									<input type="hidden" name="origin" value="all" />
								<% } %>
								<button class="delete_favourite" type="submit" onClick="return confirm('¿Eliminar favorito?');">
									&#9733;
								</button>
							</form>
						</td>
					<% } else { %>
						<td>
							<form method="post" action="/user/<%=session.user.id%>/favourites/<%=quizes[i].id%>?_method=put">
								<% if(propios) {%>
									<input type="hidden" name="origin" value="own" />
								<% } else { %>
									<input type="hidden" name="origin" value="all" />
								<% } %>
								<button class="add_favourite" type="submit">
									&#9733;
								</button>
							</form>
						</td>
					<% }
				if (session.user.isAdmin || session.user.id === quizes[i].UserId) {%>
					<td><a href="/quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
					<td>
						<form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
							<button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
								borrar
							</button>
						</form>
					</td>
				<% }
			} %>
		</tr>
<%	}
%>
</table>

<p>

<% if(session.user) {%>
	<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
<% } %>