<% if(quiz.image){%>
	<div class="parallax-container">
      <div class="parallax">
      	<%- cloudinary.image(quiz.image, { alt:"Imagen relacionada con la pregunta" })%>
      </div>
    </div>
<% } %>

<% if(session.user){ 
	if(quiz.isFavourite) {%>
		<td>
			<form method="post" action="/user/<%=session.user.id%>/favourites/<%=quiz.id%>?_method=delete">
				<input type="hidden" name="origin" value="one" />
				<button class="delete_favourite" type="submit" onClick="return confirm('¿Eliminar favorito?');">
					&#9733;
				</button>
			</form>
		</td>
	<% } else { %>
		<td>
			<form method="post" action="/user/<%=session.user.id%>/favourites/<%=quiz.id%>?_method=put">
				<input type="hidden" name="origin" value="one" />
				<button class="add_favourite" type="submit">
					&#9733;
				</button>
			</form>
		</td>
	<% }
} %>

<form method="get" action="/quizes/<%= quiz.id %>/answer">

	<div class="row">
		<div class="input-field col s12">
			<h5 class="header">Pregunta: <%= quiz.pregunta %></h5>
		</div>

		<div class="input-field col s12">
			<input type="text" id="resp" name="respuesta" value=""/>
			<label for="resp">Respuesta</label>
		</div>
	</div>
	
	<div class="row">
		<button class="btn waves-effect waves-light" type="submit">Enviar<i class="mdi-content-send right"></i>
		</button>
	</div>

</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

<p><strong>Comentarios:</strong></p>
<% for(index in quiz.Comments) {%>
	<% if(quiz.Comments[index].publicado){%>
		<p>- <%=quiz.Comments[index].texto%></p>
	<%} else if(session.user && (session.user.isAdmin || (session.user && quiz.UserId === session.user.id))) {%>
			<p>- <%=quiz.Comments[index].texto%>
			<a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish"><button>Publicar</button></a></p>
	<% } %>
<% } %>