<h2>Estadísticas</h2>

<table>

	<tr>
		<td>Número de preguntas</td>
		<td><%= numPreguntas %></td>
	</tr>
	<tr>
		<td>Número de comentarios totales</td>
		<td><%= numComentarios %></td>
	</tr>
	<tr>
		<td>Número medio de comentarios por pregunta</td>
		<td><%= comentariosPorPregunta %></td>
	</tr>
	<tr>
		<td>Número de preguntas con comentarios</td>
		<td><%= preguntasConComentarios %></td>
	</tr>
	<tr>
		<td>Número de preguntas sin comentarios</td>
		<td><%= preguntasSinComentarios %></td>
	</tr>

</table>